<mat-card>
	<mat-form-field>
		<input matInput placeholder="Beer name" type="text">
	</mat-form-field>

	<h4>Beer status</h4>
	<mat-form-field>
		<mat-select matNativeControl>
			<mat-option value="0">DRUNK</mat-option>
			<mat-option value="1">BOUGHT</mat-option>
			<mat-option value="2">TO_BUY</mat-option>
			<mat-option value="3">MATURES</mat-option>
			<mat-option value="4">ONE_KNOWS</mat-option>
		</mat-select>
	</mat-form-field>
		<button mat-button color="primary" (click)="add()">Add beer</button>
</mat-card>